@using Dominio.Enum
@using Dominio.Recursos
@using VendettaNG.Helpers
@{
    var mensaje = (string)TempData["Alerta"];
    var tipoMensaje = TempData["TipoAlerta"] as TipoAlerta?;
    var clase = string.IsNullOrEmpty(mensaje) ? "hide" : string.Empty;

    if (tipoMensaje != null)
    {
        switch (tipoMensaje)
        {
            case TipoAlerta.Exito:
                clase = "alert alert-success";
                break;
            case TipoAlerta.Advertencia:
                clase = "alert alert-warning";
                break;
            case TipoAlerta.Error:
                clase = "alert alert-error";
                break;
            case TipoAlerta.Informacion:
                clase = "alert alert-info";
                break;
        }
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery-common")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/custom-common")
    <script type="text/javascript" src="@Url.Content("Scripts/jquery.signalR-2.2.0.min.js")"></script>
    <script src="signalr/hubs"></script>
    <script type="text/javascript" src="@Url.Content("Scripts/home.js")"></script>
    <script>
        //Se cierra el diálogo cuando se presiona ESC
        $(document).keyup(function (e) {
            if (e.keyCode == 27) {
                $('#dialogo-editar').modal('hide');
            }
        });
    </script>
    
    @RenderSection("scripts", required: false)
</head>
<body>
    @Html.Action("Menu", "Menu")
    <div class="container">
        <div id="alertaError" data-mensaje="@Textos.Error_Generico" class="alert alert-danger fade hide  alerta-box">
            <a class="close" data-dismiss="alert">×</a>
            <span></span>
        </div>
        <div id="alertaAdvertencia" data-mensaje="@Textos.Error_Generico" class="alert fade hide  alerta-box">
            <a class="close" data-dismiss="alert">×</a>
            <span></span>
        </div>
        <div id="alertaExitosa" class="alert alert-success fade hide  alerta-box">
            <span>@Textos.Exito_Generico</span>
        </div>
        <div id="alertaCancelada" class="alert alert-success fade hide" style="width: 50%; margin: 0 auto; position: absolute; left: 25%; text-align: center; font-weight: bold; top: 14%">
            <span>@Textos.CanceladoExitoso_Generico</span>
        </div>

        @Html.Hidden("ValorSi", Textos.Si)
        @Html.Hidden("ValorNo", Textos.No)
        <div class="content-wrapper">
            @RenderBody()
        </div>
    </div>
    <div class="alerta-box  @clase" id="alerta">
        @if (clase != "alert alert-success")
        {
            <a class="close" data-dismiss="alert">×</a> 
        }
        <div>@mensaje</div>
    </div>
    <div class="modal hide fade" id="dialogo-borrar">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4>@Textos.Confirmacion</h4>
        </div>
        <div class="modal-body">
            <h4>@Textos.ConfirmacionBorrado</h4>
        </div>
        <div class="modal-footer">
            <input id="dialogo-borrar-confirmar" type="button" class="btn btn-warning" value="@Textos.Eliminar"/>
            <input id="dialogo-borrar-cancelar" type="button" class="btn" value="@Textos.Cancelar"/>
        </div>
    </div>

    <div class="modal hide fade " id="dialogo-editar">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 id="dialogo-editar-title"></h4>
        </div>
        <div class="modal-body" id="dialogo-editar-body">
        </div>
        <div class="modal-footer">
            <input id="dialogo-editar-guardar" type="button" class="btn btn-primary" value="@Textos.Guardar"/>
            <input id="dialogo-editar-cancelar" type="button" class="btn" value="@Textos.Cancelar"/>
        </div>
    </div>
    
    <footer>
        <div class="content-wrapper fondorojo">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - @Textos.Menu_Titulo</p>
            </div>
        </div>
    </footer>
    
</body>
</html>
